/Logica/build/
/Logica/dist/
/Achilles/build/
/Achilles/dist/
/AchillesWeb/nbproject/private/
/AchillesWeb/build/
/AchillesWeb/dist/
/Prueba/nbproject/private/
/Prueba/build/
/AchillesMDB/nbproject/private/
/AchillesMDB/dist/
/AchillesMDB/build/
/Logger/nbproject/private/
/Logger/dist/
/Logger/build/